@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

@keyframes color-change {
    0% { color: rgb(251, 250, 196); }
    50% { color: white; }
    100% { color: rgb(251, 250, 196); }
  }

* {
    box-sizing: border-box;
}

@keyframes flashing {
    from {
        box-shadow: 0 0 10px rgba(254, 255, 233, 0.3);
        border: solid 0px;
        border-color: rgba(255, 255, 255, 0);
    }
  
    to {
        box-shadow: 0 0 20px rgb(253, 255, 196);
        border: solid 1px;
        border-color: rgba(255, 255, 255, 0.8);
    }
  }

  @keyframes sol-flashing {
    from {
        border-color: rgba(255, 255, 255, 0.8);
        border: solid 8px;
        box-shadow: 0px 0px 100px rgba(243, 255, 115, 0.647);
    }
  
    to {
        border-color: rgba(255, 255, 255, 0);
        border: solid 8px;
        box-shadow: 0px 0px 100px rgba(243, 255, 115, 0.3);
    }
  }


body {
    height: 100vh;
    background: linear-gradient(0deg, rgba(1,0,17,1) 0%, rgba(1,31,78,1) 50%, rgba(2,69,154,1) 100%) center top fixed;
    background-repeat: no-repeat;
    overflow: hidden;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    padding-left: 0.5rem;
    color:rgb(255, 254, 219);
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
}

.title {
    position: absolute;
    margin-top: 5vh;
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    color:rgb(255, 253, 155);
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    
}

.search-wrapper {
    display: flex;
    flex-direction: column;
}

.search-input {
    position: absolute;
    margin-top: 5vh;
    width: 10vw;
    height: 5vh;
    left: 80%;
    right: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color:rgb(255, 255, 255);
    background: none;
    border-color:rgba(255, 255, 255, 0.095);
    border-radius: 10px;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    z-index: 5;
}

.search-item {
    display: none;
}

.search-item:hover {
    cursor: pointer;
}

.search-results {
    display: block;
    list-style-type: none;
    padding: 0;
    position: absolute;
    margin-top: 10vh;
    width: 10vw;
    height: 5vh;
    left: 80%;
    right: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color:rgb(255, 255, 255);
    background: none;
    border-radius: 20px;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    z-index: 5;
}

input:focus ~ .search-results{
    display: block;
}

.solar-system {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    width: 100%;
    position: relative;
    justify-content: space-between;
}

.solen {
    aspect-ratio: 1;
    width: 150vh;
    height: 150vh;
    background: rgb(255, 217, 28);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color:rgb(255, 254, 204);
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    font-size: 2rem;
    border-radius: 50%;
    border: solid;
    border-width: 8px;
    border-color: rgba(255, 255, 255, 0.535);
    margin-top: -25vh;
    margin-left: -70vw;
    padding: none;
    box-shadow: 0px 0px 100px rgba(243, 255, 115, 0.647);
    position: relative;
}

.solen:hover .hide {
    display: block;
    position: absolute;
    animation: color-change 0.5s infinite;
    padding: 10px;
    right: -10vh;
    top: 50vh;
  }

.solen:hover {
    animation: sol-flashing 0.5s infinite;
    animation-direction: alternate;
    cursor: pointer;
}

.merkurius {
    aspect-ratio: 1;
    width: 4vh;
    height: 4vh;
    background: rgb(107, 105, 101);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color:rgb(255, 254, 204);
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    font-size: 2rem;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
}

.merkurius:hover .hide {
    display: block;
    position: absolute;
    padding: 10px;
    animation: color-change 0.5s infinite;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    transform: translateX(-50%);
    top: -100px;
  }

.merkurius:hover {
    animation: flashing 0.3s infinite;
    animation-direction: alternate;
    cursor: pointer;
}

.venus {
    aspect-ratio: 1;
    width: 7vh;
    height: 7vh;
    background: rgb(255, 170, 0);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color:rgb(255, 254, 204);
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    font-size: 2rem;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
}

.venus:hover {
    animation: flashing 0.3s infinite;
    animation-direction: alternate;
    cursor: pointer;
}

.venus:hover .hide {
    display: block;
    position: absolute;
    padding: 10px;
    animation: color-change 0.5s infinite;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    transform: translateX(-50%);
    top: -100px;
    
  }

.jorden {
    aspect-ratio: 1;
    width: 10vh;
    height: 10vh;
    /*background: rgb(0, 157, 255, 0); */
    background: url("assets/earth.jpg");
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color:rgb(255, 254, 204);
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    font-size: 2rem;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
}

.jorden:hover .hide {
    display: block;
    position: absolute;
    padding: 10px;
    animation: color-change 0.5s infinite;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    transform: translateX(-50%);
    top: -100px;
  }

.jorden:hover {
    animation: flashing 0.3s infinite;
    animation-direction: alternate;
    cursor: pointer;
}

.mars {
    aspect-ratio: 1;
    width: 6vh;
    height: 6vh;
    background: rgb(255, 25, 0);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color:rgb(255, 254, 204);
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    font-size: 2rem;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
}

.mars:hover .hide {
    display: block;
    position: absolute;
    padding: 10px;
    animation: color-change 0.5s infinite;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    transform: translateX(-50%);
    top: -100px;
  }

.mars:hover {
    animation: flashing 0.3s infinite;
    animation-direction: alternate;
    cursor: pointer;
}

.jupiter {
    aspect-ratio: 1;
    width: 30vh;
    height: 30vh;
    background: rgb(228, 169, 127);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color:rgb(255, 254, 204);
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    font-size: 2rem;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
}

.jupiter:hover .hide {
    display: block;
    position: absolute;
    padding: 10px;
    animation: color-change 0.5s infinite;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    transform: translateX(-50%);
    top: -100px;
  }

.jupiter:hover {
    animation: flashing 0.3s infinite;
    animation-direction: alternate;
    cursor: pointer;
}

.saturnus {
    aspect-ratio: 1;
    width: 20vh;
    height: 20vh;
    background: rgb(255, 229, 134);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color:rgb(255, 254, 204);
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    font-size: 2rem;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
}

.saturnus:hover .hide {
    display: block;
    position: absolute;
    padding: 10px;
    animation: color-change 0.5s infinite;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    transform: translateX(-50%);
    top: -100px;
  }

.saturnus:hover {
    animation: flashing 0.3s infinite;
    animation-direction: alternate;
    cursor: pointer;
}

.saturnus--rings {
    width: 40vh;
    height: 8px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.684);
    margin-left: -10vh;
    margin-top: 50%;
    transform: rotate(-35deg);
}

.uranus {
    aspect-ratio: 1;
    width: 15vh;
    height: 15vh;
    background: rgb(138, 199, 255);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color:rgb(255, 254, 204);
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    font-size: 2rem;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
}

.uranus:hover .hide {
    display: block;
    position: absolute;
    padding: 10px;
    animation: color-change 0.5s infinite;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    transform: translateX(-50%);
    top: -100px;
  }

.uranus:hover {
    animation: flashing 0.3s infinite;
    animation-direction: alternate;
    cursor: pointer;
}

.neptunus {
    aspect-ratio: 1;
    width: 13vh;
    height: 13vh;
    background: rgb(240, 200, 255);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color:rgb(255, 254, 204);
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    font-size: 2rem;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5vw;
    position: relative;
}

.neptunus:hover .hide {
    display: block;
    position: absolute;
    padding: 10px;
    animation: color-change 0.5s infinite;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    transform: translateX(-50%);
    top: -100px;
  }

.neptunus:hover {
    animation: flashing 0.3s infinite;
    animation-direction: alternate;
    cursor: pointer;
}

.hide {
    display: none;
  }

  .modal-window {
    z-index: 9;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    margin-right: auto;
    backdrop-filter: blur(20px);
}

.modal-window {
    display: block;
}

.info-container {
    z-index: 10;
    width: 80%;
    height: 70%;
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    gap: 1rem;
    grid-template-areas: 
    "header header image"
    "desc specs image"
    "desc specs image";
    justify-items: center;
    background-color: white;
    position: absolute;
    top: 15%;
    margin-left: 10%;
    margin-right: auto;
    background: linear-gradient(0deg, rgba(0, 123, 255, 0.6) 0%, rgba(0, 195, 255, 0.4) 50%, rgba(0, 221, 255, 0.2) 100%) center top fixed;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.405);
    border-radius: 5px;
}

.header {
    grid-area: header;
    height: 100px;
    margin-top: 2rem;
    margin-bottom: none;
}

.planet-name {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    margin-top: 1rem;
    padding-top: 1rem;
    color:rgb(255, 253, 155);
    text-shadow: 2px 2px 3px rgb(0, 0, 0);   
}

.desc {
    height: 40rem;
    grid-area: desc;
    padding: 2rem;
}

.desc--title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    padding-left: 0.5rem;
    color:rgb(255, 253, 155);
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
}

.desc--content {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    padding-left: 0.5rem;
    color:rgb(255, 254, 219);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    padding-bottom: 0;
}

.specs {
    grid-area: specs;
    padding: 2rem;
}

.specs--title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    padding-left: 0.5rem;
    color:rgb(255, 253, 155);
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
}

.image {
    grid-area: image;
    background-color: white;
    height: calc(20vw);
    width: calc(20vw);
    margin-top: calc(50% - 10rem/2);
}

.left-button {
    z-index: 10;
    width: 5%;
    height: 13%;
    display: block;
    background-position: center;
    position: relative;
    top: 43%;
    margin-left: 3%;
    margin-right: auto;
    background: linear-gradient(0deg, rgba(0, 123, 255, 0.2) 0%, rgba(0, 195, 255, 0.2) 50%, rgba(0, 221, 255, 0.2) 100%) center top fixed;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.405);
    border-radius: 5px;
}

.left-arrow {
    height: 100%;
    width: 100%;
    scale: -1;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0.5;
}

.left-arrow:hover {
    opacity: 0.8;
    cursor: pointer;
}

.right-button {
    z-index: 10;
    width: 5%;
    height: 13%;
    display: block;
    background-position: center;
    position: relative;
    top: 43%;
    margin-right: 3%;
    margin-left: auto;
    background: linear-gradient(0deg, rgba(0, 123, 255, 0.2) 0%, rgba(0, 195, 255, 0.2) 50%, rgba(0, 221, 255, 0.2) 100%) center top fixed;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.405);
    border-radius: 5px;
}

.right-arrow {
    height: 100%;
    width: 100%;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0.5;
}

.right-arrow:hover {
    opacity: 0.8;
    cursor: pointer;
}

.back-button {
    position: absolute;
    top: -2.5rem;
    right: 5px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color:rgb(255, 253, 155);
    text-shadow: 2px 2px 3px rgb(0, 0, 0);   
}

.back-button:hover {
    color:rgb(255, 255, 255);  
    cursor: pointer;
}